CANTIDAD_INTERFACES=5
NOMBRE_INTERFAZ0=GENERICA
TIPO_INTERFAZ0=GENERICA
TIEMPO_UNIDAD_TRABAJO0=250
NOMBRE_INTERFAZ1=SLP1
TIPO_INTERFAZ1=GENERICA
TIEMPO_UNIDAD_TRABAJO1=50
NOMBRE_INTERFAZ2=ESPERA
TIPO_INTERFAZ2=GENERICA
TIEMPO_UNIDAD_TRABAJO2=500
NOMBRE_INTERFAZ3=TECLADO
TIPO_INTERFAZ3=STDIN
TIEMPO_UNIDAD_TRABAJO3=50
NOMBRE_INTERFAZ4=MONITOR
TIPO_INTERFAZ4=STDOUT
TIEMPO_UNIDAD_TRABAJO4=50
